<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agenda de Salas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-3 pb-3 text-center">
        <h1>AGENDA DE SALAS</h1>
    </div>
    <div class="col-8 m-auto pt-3 pb-3 text-center">
        <a href="/form" class="btn btn-success">ADICIONAR</a> <!-- clicando em ADICIONAR, chama a página 'form' -->
    </div>
    <div class="col-8 m-auto pt-3 pb-2 text-center"> <!--Barra de busca-->
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca por Sala...">
        </form>
    </div>
    <div class="col-8 m-auto pt-3 pb-3 text-center">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <!--<th scope="col">ID</th>-->
              <th scope="col">Requisitante</th>
              <!--<th scope="col">Matrícula</th>-->
              <!--<th scope="col">Curso</th>-->
              <th scope="col">Sala</th>
              <th scope="col">Data</th>
              <th scope="col">Horário</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for dbs in db %}
            <tr>
                <!--Os nomes das variáveis são exatamente os mesmos que estão no Banco de Dados, p ex.: dbs.Req_nome -->
                <!--<th>{{dbs.id}}</th>--> <!--Esta variável 'id' vem do Banco de Dados - no caso, SQlite-->
                <td>{{dbs.Req_nome}}</td>
                <!--<td>{{dbs.Mat_nro}}<</td>-->
                <!--<td>{{dbs.Curso_nome}}<</td>-->
                <td>{{dbs.Sala_nro}}</td>
                <td>{{dbs.Data|date:'d-m-Y'}}</td> <!-- "|date:'d-m-Y'" é só uma formatação para apresentar a data-->
                <td>{{dbs.Horario}}</td>
                <td>
                    <a href="/view/{{dbs.id}}" class="btn btn-info" >View</a>
                    <a href="/edit/{{dbs.id}}" class="btn btn-primary">Edit</a>
                    <a href="/delete/{{dbs.id}}" class="btn btn-danger btnDel">Del</a>
                </td>
            </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="pagination" > <!-- Cria paginação do DB na página inicial-->
            {% if db.has_previous %} <!--Verifica se existe registro anterior-->
                <a href="?page={{db.previous_page_number}}"> <- </a> <!--Se existe página anterior, referencia seu caminho no link 'page'-->
            {% endif %}

            {{db.number}} <! mostra o número da página atual >

            {% if db.has_next %} <!-- Se existe página posterior, referencia seu caminho no link 'page'-->
                <a href="?page={{db.next_page_number}}"> -> </a>
            {% endif %}
        </div>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>